server:
  port: 8082

spring:
  datasource:
    url: jdbc:mariadb://localhost:3306/customer_db
    username: root
    password: root
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

logging:
  level:
    com.corebanking.customer_service: DEBUG