spring:
  application:
    name: risk-service
  profiles:
    active: dev
  messages:
    basename: messages/messages
    encoding: UTF-8
    fallback-to-system-locale: false
  jpa:
    open-in-view: false
    show-sql: false
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MariaDBDialect
        format_sql: true
        generate_statistics: false

logging:
  level:
    root: INFO
    com.corebanking.risk_service: DEBUG

