server:
  port: 8080

spring:
  datasource:
    url: jdbc:mariadb://mariadb:3306/loan_db?useSSL=true&serverTimezone=UTC
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: org.mariadb.jdbc.Driver
    hikari:
      maximum-pool-size: 20
      connection-timeout: 30000

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MariaDBDialect
        generate_statistics: false

  devtools:
    restart:
      enabled: false

logging:
  level:
    com.corebanking.loan_service: INFO

