server:
  port: 8084

spring:
  datasource:
    url: jdbc:mariadb://localhost:3306/audit_db
    username: root
    password: root
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

logging:
  level:
    com.corebanking.audit_service: DEBUG

